{include file="public/header" /} {include file="public/breadcrumb" /}
<style>
    .detail_container #divContent {
        padding: 15px 20px;
        /* text-indent: 2em; */
        font-size: 14px;
        line-height: 26px;
        word-wrap: break-word;
    }
    
    .detail_container #divContent img {
        max-width: 100%;
    }
    
    #divPagenation {
        text-align: center;
    }
    
    .layui-laypage {
        display: block;
    }
</style>
<!-- 文章 开始 -->
<div class="main">
    <div class="page_left">
        <div class="detail_container trans_3">
            <h1>{$data['title']}</h1>
            <div class="date_hits">
                <!-- <span><i>发布时间：</i>{$data['create_time']|format_datetime}</span><span><i>热度：</i> {$data['hits']} ℃</span><span><i>评论数：</i> <a href="#SOHUCS" id="changyan_count_unit"></a></span> -->
            </div>
            <div class="content" id="divContent"></div>
            <div id="divPagenation" class="layui-box layui-laypage layui-laypage-default"></div>
            <!-- <div class='page'></div> -->
            {notempty name="data['keywords']"}
            <div class="keywords">
                <p>{$data['keywords']}</p>
            </div>
            {/notempty}
            <div class="prev_next">
                <div class="prev">上一篇：<a href="{$data['prev']['url']}">{$data['prev']['title']}</a></div>
                <div class="next">下一篇：<a href="{$data['next']['url']}">{$data['next']['title']}</a></div>
                <div class="clear"></div>
            </div>
            <div class="commont_containr">
                <!--【畅言】表情评价-->
                <div id="cyEmoji" role="cylabs" data-use="emoji" sid="{$data['category_id']}{$data['id']}"></div>
                <!--【畅言】PC和WAP自适应版-->
                <div id="SOHUCS" sid="{$data['category_id']}{$data['id']}"></div>
            </div>

        </div>
    </div>
    <div class="page_right">
        <!-- 修改过后的推荐主题 -->
        {include file="public/recommend_themelist" /}

        <!-- <div class="second_categorys_container">
			<h3>栏目导航</h3>
			<ol class="seond_category trans_3">
				{volist name="second_categorys" id="vo"}
				<li {if $data['category_id']==$vo['id']}class="selected"{/if}><a href="{$vo['url']}" class="layui-btn layui-btn-primary trans_1">{$vo['name']}</a></li>
				{/volist}
			</ol>	
		</div>
		{notempty name="hot_list"}  
		<div class="hot_list">
			<h3>相关文章</h3>
			<ol class="page_right_list trans_3">
				{volist name="hot_list" id="vo"}
				<li><a href="{$vo['url']}">{$vo['title']}</a><span class="hits"> {$vo['hits']} ℃ </span></li>
				{/volist}
			</ol>
		</div>
		{/notempty}
		<div class="mobile_qrcode_container">
			<h3>手机扫码访问</h3>
			<div class="mobile_qrcode wechat_qrcode trans_3">
				{include file="public/qrcode" /}
			</div>
		</div> -->

    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    layui.use('code', function() { //加载code模块
        layui.code({
            title: '代码如下',
            skin: 'notepad' //如果要默认风格，不用设定该key。
                ,
            about: false
        });
    });


    //  文章内容分页
    var s = '{$data["content"]}'
        //对img标签进行匹配  现在改为对所有html标签进行匹配
    var imgReg = /<\/?[^>]+>/g; // /<img.*?(?:>|\/>)/gi;
    var teshustrReg = /^&nbsp;$|^&emsp;$|^&amp;$|^&lt;$|^&gt;$|^&quot;$|^&apos;$|^&copy;$|^&reg;$/; // 匹配&nbsp;或&lt;或&gt;....
    matchContent = s.match(imgReg);

    matchTeshuContent = s.match(teshustrReg);

    imgContent = s;
    if (imgReg.test(s)) {
        //将img标签替换为*
        imgContent = s.replace(imgReg, "*");
    }
    if (teshustrReg.test(s)) {
        //将img标签替换为*
        imgContent = s.replace(teshustrReg, "*");
    }
    // 封装DHTMLpagenation
    function DHTMLpagenation(content) {

        this.content = content; // 内容
        this.contentLength = imgContent.length; // 内容长度
        this.pageSizeCount; // 总页数
        this.perpageLength = 1000; //default perpage byte length.
        this.currentPage = 1; // 起始页为第1页
        //this.regularExp=/.+[\?\&]{1}page=(\d+)/;
        this.regularExp = /\d+/; // 建立正则表达式，匹配数字型字符串。

        this.divDisplayContent;
        this.contentStyle = null;
        this.strDisplayContent = "";
        this.divDisplayPagenation;
        this.strDisplayPagenation = "";

        // 把第二个参数赋给perpageLength;
        arguments.length == 2 ? perpageLength = arguments[1] : '';

        try {
            //创建要显示的DIV
            divExecuteTime = document.createElement("DIV");
            document.body.appendChild(divExecuteTime);
        } catch (e) {}

        // 得到divPagenation容器。
        if (document.getElementById("divPagenation")) {
            divDisplayPagenation = document.getElementById("divPagenation");
        } else {
            try {
                //创建分页信息
                divDisplayPagenation = document.createElement("DIV");
                divDisplayPagenation.id = "divPagenation";
                document.body.appendChild(divDisplayPagenation);
            } catch (e) {
                return false;
            }
        }

        // 得到divContent容器
        if (document.getElementById("divContent")) {
            divDisplayContent = document.getElementById("divContent");
        } else {
            try {
                //创建每页显示内容的消息的DIV 
                divDisplayContent = document.createElement("DIV");
                divDisplayContent.id = "divContent";
                document.body.appendChild(divDisplayContent);
            } catch (e) {
                return false;
            }
        }

        DHTMLpagenation.initialize();
        return this;

    };

    //初始化分页；
    //包括把加入CSS，检查是否需要分页
    DHTMLpagenation.initialize = function() {

        divDisplayContent.className = contentStyle != null ? contentStyle : "divContent";

        if (contentLength <= perpageLength) {
            strDisplayContent = content;
            divDisplayContent.innerHTML = strDisplayContent;
            return null;
        }

        pageSizeCount = Math.ceil((contentLength / perpageLength));

        DHTMLpagenation.goto(currentPage);

        DHTMLpagenation.displayContent();
    };

    //显示分页栏
    DHTMLpagenation.displayPage = function() {

        strDisplayPagenation = "";

        if (currentPage && currentPage != 1) {
            strDisplayPagenation += '<a href="javascript:void(0)" onclick="DHTMLpagenation.previous()">上一页</a>  ';
        }
        // else {
        //     // strDisplayPagenation += "上一页  ";
        //     strDisplayPagenation += '<span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></// span>';
        // } 

        for (var i = 1; i <= pageSizeCount; i++) {
            if (i != currentPage) {
                strDisplayPagenation += '<a href="javascript:void(0)" onclick="DHTMLpagenation.goto(' + i + ');">' + i + '</a>  ';
            } else {
                // strDisplayPagenation += i + "  ";
                strDisplayPagenation += '<span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>' + i + '</em></span>';
            }
        }

        if (currentPage && currentPage != pageSizeCount) {
            strDisplayPagenation += '<a href="javascript:void(0)" onclick="DHTMLpagenation.next()">下一页</a>  ';
        } else {
            strDisplayPagenation += "下一页  ";
        }

        strDisplayPagenation += "共 " + pageSizeCount + " 页";
        // ，每页" + perpageLength + " 字符，调整字符数：<input type='text' value='" + perpageLength + "' id='ctlPerpageLength' /><input type='button' value='确定' onclick='DHTMLpagenation.change()' />

        divDisplayPagenation.innerHTML = strDisplayPagenation;


    };

    //上一页
    DHTMLpagenation.previous = function() {
        DHTMLpagenation.goto(currentPage - 1);
    };

    //下一页
    DHTMLpagenation.next = function() {

        DHTMLpagenation.goto(currentPage + 1);
    };

    //跳转至某一页
    DHTMLpagenation.goto = function(iCurrentPage) {
        startime = new Date();
        if (regularExp.test(iCurrentPage)) {
            currentPage = iCurrentPage;

            var tempContent = "";

            //获取当前的内容 里面包含 * 
            var currentContent = imgContent.substr((currentPage - 1) * perpageLength, perpageLength);

            tempContent = currentContent;

            //当前页是否有 * 获取最后一个 * 的位置 
            var indexOf = currentContent.indexOf("*");

            if (indexOf >= 0) {
                //获取从开始位置到当前页位置的内容
                var beginToEndContent = imgContent.substr(0, currentPage * perpageLength);

                //获取开始到当前页位置的内容 中的 * 的最后的下标 
                var reCount = beginToEndContent.split("*").length - 1;

                var contentArray = currentContent.split("*");

                tempContent = replaceStr(contentArray, reCount, matchContent);

            }
            //                else
            //                {
            //                    tempContent=imgContent.substr((currentPage-1)*perpageLength,perpageLength);
            //                }

            strDisplayContent = tempContent;
        } else {
            alert("页面参数错误");
        }
        DHTMLpagenation.displayPage();
        DHTMLpagenation.displayContent();
    };
    //显示当前页内容
    DHTMLpagenation.displayContent = function() {
        divDisplayContent.innerHTML = strDisplayContent;
    };

    //改变每页的字节数
    DHTMLpagenation.change = function() {

        var iPerpageLength = document.getElementById("ctlPerpageLength").value;
        if (regularExp.test(iPerpageLength)) {

            //                DHTMLpagenation.perpageLength=iPerpageLength;
            //                DHTMLpagenation.currentPage=1;
            //                DHTMLpagenation.initialize();

            DHTMLpagenation(s, iPerpageLength);
        } else {
            alert("请输入数字");
        }
    };

    /*  currentArray:当前页以 * 分割后的数组
        replaceCount:从开始内容到当前页的内容 * 的个数
        matchArray ： img标签的匹配的内容
    */
    function replaceStr(currentArray, replaceCount, matchArray) {

        var result = "";
        for (var i = currentArray.length - 1, j = replaceCount - 1; i >= 1; i--) {

            var temp = (matchArray[j] + currentArray[i]);

            result = temp + result;

            j--;
        }

        result = currentArray[0] + result;

        return result;
    }


    DHTMLpagenation(s, '{$content_length}');
</script>
<!-- 畅言js -->
<script type="text/javascript">
    (function() {
        var appid = '{$settings["changyan_app_id"]}'; // cyuuugmnC
        var conf = '{$settings["changyan_app_key"]}'; // prod_19d5c56e94a5fca1ec0d0dbdbba025a3
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="//changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
        } else {
            var loadJs = function(d, a) {
                var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                var b = document.createElement("script");
                b.setAttribute("type", "text/javascript");
                b.setAttribute("charset", "UTF-8");
                b.setAttribute("src", d);
                if (typeof a === "function") {
                    if (window.attachEvent) {
                        b.onreadystatechange = function() {
                            var e = b.readyState;
                            if (e === "loaded" || e === "complete") {
                                b.onreadystatechange = null;
                                a()
                            }
                        }
                    } else {
                        b.onload = a
                    }
                }
                c.appendChild(b)
            };
            loadJs("//changyan.sohu.com/upload/changyan.js", function() {
                window.changyan.api.config({
                    appid: appid,
                    conf: conf
                })
            });
        }
    })();
</script>
<script type="text/javascript" charset="utf-8" src="//changyan.itc.cn/js/lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="//changyan.sohu.com/js/changyan.labs.https.js?appid={$settings['changyan_app_id']}"></script>
<script type="text/javascript" src="//assets.changyan.sohu.com/upload/plugins/plugins.count.js"></script>
<!-- 文章 结束 -->
{include file="public/footer" /}