{include file="public/header" /}
<!-- 新增轮播图 -->
<style>
    .ma5slider .canvas {
        max-height: 200px;
    }
    
    .ma5slider .slide img,
    .ma5slider>img.slide {
        max-height: 200px;
    }
</style>
<script>
    $(function() {
        $('.ma5slider').ma5slider();
    });
</script>
{include file="public/breadcrumb" /}
<!-- 文章 开始 -->
<div class="main">
    <div class="page_left">

        {if !empty($banners)}
        <div class="ma5slider inside-navs inside-dots anim-horizontal loop-mode autoplay">
            <div class="slides">
                {volist name="banners" id="vo"}
                <a href="{$vo['url'] ? $vo['url'] : '/'}"><img src="{$vo['image_url'] ? $vo['image_url'] : '__TEMPLATE__laozhang/static/images/banner.jpg'}" alt="{$vo['title']}" title="{$vo['title']}" style="width:100%;height:200px;"></a>
                {/volist}
            </div>
        </div>
        {/if}

        <ul class="page_left_list">
            {volist name="lists" id="vo"}
            <li class="{empty name='vo[image_url]'}no_pic{/empty}">
                {notempty name='vo[image_url]'}
                <a href="{$vo['url']}" class="pic"><img class="lazy" data-original="{$vo['image_url']|thumb=165,110,3}" src="__TEMPLATE__laozhang/static/images/pic_loading_bg.png" alt="{$vo['title']}"></a>
                {/notempty}
                <h2 class="title"><a href="{$vo['url']}">{if $vo['is_top']==1}<span class="top">置顶</span>{/if}{$vo['title']}</a></h2>
                <div class="date_hits">
                    <span>{$vo['create_time']|format_datetime}</span>
                    <span><a href="{$categorys[$vo['category_id']]['url']}">{$categorys[$vo['category_id']]['name']}</a></span>

                    <span class="hits"><i class="layui-icon layui-icon-username" title="作者">&#xe612;</i> {$vo['author'] ? $vo['author'] : '匿名'} <!-- ℃ --></span>

                    <!-- 评论按钮 -->
                    <!-- <p class="commonts"><i class="layui-icon" title="点击量">&#xe63a;</i> <span id="sourceId::{$vo['category_id']}{$vo['id']}" class="cy_cmt_count"></span></p> -->
                </div>
                <div class="desc">{$vo['description']}</div>
            </li>
            {/volist}
        </ul>
        <div id="page">{$page}</div>
    </div>
    <div class="page_right">

        <!-- 修改过后的推荐主题 -->
        {include file="public/recommend_themelist" /}


    </div>
    <div class="clear"></div>
</div>
<!-- 文章 结束 -->
<script id="cy_cmt_num" src="//changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId={$settings['changyan_app_id']}"></script>
<!-- 畅言评论数获取js -->
{include file="public/footer" /}