<!-- 修改过后的推荐主题和关注我们 -->
<div class="new_list" style="background: #fff;">
    <h3>推荐主题
        <a href="/index/theme"><span style="float: right;font-size: 12px;color: #ccc; cursor: pointer;">更多主题</span></a>
    </h3>
    <ul style="margin-top: 4%;">
        {volist name="recommend_cates" id="vo"}
        <li style="padding: 2%;border: #ccc 1px solid;margin-top: -1px;">
            <div style='width:55%;height:120px;padding: 2%; padding-bottom: 4%;'>
                <a href="/index/theme_art_list/{$vo['id']}">
                    <img src="{$vo['image_url'] ? $vo['image_url'] : '__TEMPLATE__laozhang/static/images/laozhang_avatar.png'}" style='width:100%;height: 100%;border: solid #ccc 7px' alt="{$vo['name']}" title="{$vo['name']}">
                </a>
            </div>
            <div style="float: right;position: relative; top: -100px;right: 55px;font-weight: 500;font-size: 15px;" alt="{$vo['name']}" title="{$vo['name']}">
                <a href="/index/theme_art_list/{$vo['id']}"><span>{$vo['name']|mb_substr=0,10}</span></a>
                <p style="line-height: 350%;color: #ccc; font-size: 13px; font-weight: normal;">{$vo['art_num']}篇文章</p>
            </div>
        </li>
        {/volist}
    </ul>
</div>

<div class="mobile_qrcode_container" style='margin-top: 5%;'>
    <h3>关注我们</h3>
    <!-- <div class="mobile_qrcode wechat_qrcode trans_3">
                {include file="public/qrcode" /}
            </div> -->
    {if $settings.qr_code}
    <img class="qr_code_pic" src="{$settings.qr_code}" alt="微信公众号二维码" style="width: 100%;"></li>
    {/if}
</div>