{include file="public/pc_header" /}

<div class="idx_con detail_art clearfix">
    <div class="auto">
        <div class="con_l fl">
            <div class="title">列表详情大标题</div>
            <div class="time">39分钟前</div>
            <div class="text">
                详情内容文案详情内容文案详情内容文案详情内容文案详情内容文案详情内容文案详情内容文案详情内容文案最终实现提高国提高财富的大目标。
                <div class="line"></div>
                <img src="images/detail_1.jpg" class="img text_img">
            </div>
        </div>

        <div class="con_r fr">
            <div class="title_box clearfix">
                <div class="title fl">
                    <img src="images/icon_1.png" class="tit_icon"> 相关推荐
                </div>
                <a href="#" class="more fr">更多></a>
            </div>
            <div class="conr_list">
                <a href="#" class="item">
                    <div class="tit ellipsis">主题名称1:大黄蜂俄计划的回复我房间是的欠费我冯</div>
                    <div class="pro">2019-10-30</div>
                </a>
                <a href="#" class="item">
                    <div class="tit ellipsis">主题名称1:大黄蜂俄计划的回复我房间是的欠费我冯</div>
                    <div class="pro">2019-10-30</div>
                </a>
                <a href="#" class="item">
                    <div class="tit ellipsis">主题名称1:大黄蜂俄计划的回复我房间是的欠费我冯</div>
                    <div class="pro">2019-10-30</div>
                </a>
                <a href="#" class="item">
                    <div class="tit ellipsis">主题名称1:大黄蜂俄计划的回复我房间是的欠费我冯</div>
                    <div class="pro">2019-10-30</div>
                </a>
            </div>

            <div class="code_box">
                <img src="images/code.jpg" class="code">
                <p>关注我们</p>
            </div>
        </div>
    </div>
</div>

<div class="footer">Copyright © 2019 | 照护者联盟 | 京ICP备15000000号</div>
</body>
<script>
</script>

</html>